# BUSINESS UNDERSTANDING


0ur goal is to explore the data and come up with key insights that be will the springboard for us to venture into this fast growing market by analyzing the funding data from 2018 to 2021, focusing on the key factors such as the amount of funding received, sectors, stage of investment, their geographical location and other promising opportunities. Our analysis is done usingthe CRISP-DM process.



# BUSINESS QUESTIONS

1.Investor Influence: Who are the top investors in the indian ecosystem. What is their funding pattern and areas they will like to invest in?
2. Which top 5 start-ups receives the most funding and reason why they get the most funds.?
3. Industry Domaian: Which business domain receives the highest funding?
4. Geographical Analysis: Which City and region in the india ecosystem are investors likely to channel their funds and the factors that affect their decisions
5. Stage Analysis: What is the distribution of funding across different investment trends
What is the trend of change in the average funding from the year 2018 t0 2021?

# HYPOTHESIS TESTING


We use hypothesis testing to do statistical test on the sampke to generate conclusions and inferences about the whole data. We develop a null and alternative hypothesis to focus on.

Null Hypothesis (Ho): There is no significant difference in the amount of the funding received by start-ups across different sectors and stages.

Alternate Hypothesis(H1): There is a significant difference in the amount of the funding received by start-ups across different sectors and stages.

# DATA UNDERSTANDING



Company_Brand: Name of the start-up
Founded: The year the start-up was founded.
HeadQuaters: City where the start-up is located
Sector: Domain industry of the start-up
Overview: A brief description of the start-up business
Founders: Names of the founders
Investors: Investors or investments firms that funded the start-up
Amount: The amount of funding received (in $USD)
Stage: Stage of investment(e.g Pre-seed, Seed, Series A e.t.c)

# DATA PREPARATION


Before we clean and analyze the data we install all relevant libraries we will need and connect to all the data sources.

In [1]:
%pip install pyodbc  
%pip install python-dotenv

Requirement already satisfied: pyodbc in c:\users\compufy\anaconda3\lib\site-packages (5.0.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: python-dotenv in c:\users\compufy\anaconda3\lib\site-packages (0.21.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pyodbc #just installed with pip
from dotenv import dotenv_values #import the dotenv_values function from the dotenv package
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objs as go
import re

import warnings
warnings.filterwarnings('ignore')

In [3]:
# Load environment variables from .env file into a dictionary
environment_variables=dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
database = environment_variables.get("database")
server = environment_variables.get("server")
username = environment_variables.get("username")
password = environment_variables.get("password")

connection_string=f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [4]:
# Use the connect method of the pyodbc library and pass in the connection string.
# This will connect to the server and might take a few seconds to be complete. 
# Check your internet connection if it takes more time than necessary

connection=pyodbc.connect(connection_string)

# Loading the all data sets (Start-up funding 2018-2021)

In [5]:
#Loading table 1 which is the 2020 datasets
# Now the sql query to get the data is what what you see below.
# Note that you will not have permissions to insert delete or update this database table.


query = "SELECT * FROM dbo.LP1_startup_funding2020"

data = pd.read_sql(query, connection)

In [6]:
#Loading table 2 which is the 2021 data sets 

query = "SELECT * FROM dbo.LP1_startup_funding2021"

data2= pd.read_sql(query, connection)

In [7]:
#Load the data from the source (2019)


data3 = pd.read_csv(r'C:\Users\COMPUFY\Downloads\startup_funding2019.csv')

In [8]:
#Load the data from the source (2018)


data4= pd.read_csv(r'C:\Users\COMPUFY\Downloads\startup_funding2018.csv')

# EXPLORING THE DATA ALL DATASETS

A deep dive and observation to have an overview on the kind of dataset we are dealing with. (variables, data types, inconsistencies e.t.c)

In [9]:
# View the entire info of the dataset (2020)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [10]:
# View the upper part of the dataset (2020)

data.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [11]:
# View the latter part of the dataset (2020)

data.tail()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1500000.0,None,None
1051,EpiFi,NaN,None,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",13200000.0,Seed Round,None
1052,Purplle,2012.0,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8000000.0,None,None
1053,Shuttl,2015.0,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8043000.0,Series C,None
1054,Pando,2017.0,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9000000.0,Series A,None

In [12]:
#Show the shape of the dataset (2020)

data.shape

(1055, 10)

In [13]:
#Show the Summary Statistics for 2020

data.describe().T

,count,mean,std,min,25%,50%,75%,max
Founded,842.0,2.015363e+03,4.097909e+00,1973.0,2014.0,2016.0,2018.0,2.020000e+03
Amount,801.0,1.130430e+08,2.476635e+09,12700.0,1000000.0,3000000.0,11000000.0,7.000000e+10

Dataset 2021

In [14]:
# View the entire info of the dataset (2021)

data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [15]:
# View the upper part of the dataset (2021)

data2.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [16]:
# View the latter part of the dataset (2021)

data2.tail()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
1204,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A
1205,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D
1206,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C
1207,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B
1208,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A

In [17]:
#Show the shape of the dataset (2021)

data2.shape

(1209, 9)

In [18]:
#Show the Summary Statistics for 2021

data2.describe().T

          count         mean       std     min     25%     50%     75%     max
Founded  1208.0  2016.655629  4.517364  1963.0  2015.0  2018.0  2020.0  2021.0

Dataset 2019

In [19]:
# View the entire info of the dataset (2021)

data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [20]:
# View the upper part of the dataset (2019)

data3.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [21]:
# View the lower part of the dataset (2019)

data3.tail()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN

In [22]:
#Show the shape of the dataset (2019)

data3.shape

(89, 9)

In [23]:
#Show the Summary Statistics for 2019

data3.describe().T

         count         mean       std     min     25%     50%      75%     max
Founded   60.0  2014.533333  2.937003  2004.0  2013.0  2015.0  2016.25  2019.0

Dataset 2018

In [24]:
# View the entire info of the dataset (2018)

data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [25]:
# View the upper part of the dataset (2018)

data4.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [26]:
# View the lower part of the dataset (2018)

data4.tail()

,Company Name,Industry,Round/Series,Amount,Location,About Company
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [27]:
#Show the shape of the dataset (2018)

data4.shape

(526, 6)

In [28]:
#Show the Summary Statistics for 2018

data4.describe().T

,count,unique,top,freq
Company Name,526,525,TheCollegeFever,2
Industry,526,405,—,30
Round/Series,526,21,Seed,280
Amount,526,198,—,148
Location,526,50,"Bangalore, Karnataka, India",102
About Company,526,524,"TheCollegeFever is a hub for fun, fiesta and f...",2

In [29]:
#Rename columns of data_2018 to match combined_data

data4= data4.rename(columns={
    'Company Name': 'Company_Brand',
    'Industry': 'Sector',
    'Round/Series': 'Stage',
    'Amount': 'Amount',
    'Location': 'HeadQuarter',
    'About Company': 'What_it_does'
})

# Preprocessing the data to check the quality of all the dataset 2021-2018

#Display the data types on Start-up funding 2018-2021

In [30]:
# Dataset 2021
data.dtypes

Company_Brand     object
Founded          float64
HeadQuarter       object
Sector            object
What_it_does      object
Founders          object
Investor          object
Amount           float64
Stage             object
column10          object
dtype: object

In [31]:
# Dataset 2020

data2.dtypes

Company_Brand     object
Founded          float64
HeadQuarter       object
Sector            object
What_it_does      object
Founders          object
Investor          object
Amount            object
Stage             object
dtype: object

In [32]:
# Dataset 2019

data3.dtypes

Company/Brand     object
Founded          float64
HeadQuarter       object
Sector            object
What it does      object
Founders          object
Investor          object
Amount($)         object
Stage             object
dtype: object

In [33]:
# Dataset 2018

data4.dtypes

Company_Brand    object
Sector           object
Stage            object
Amount           object
HeadQuarter      object
What_it_does     object
dtype: object

#Display the unique data types on Start-up funding 2021-2018

In [34]:
#Display 2021

data.nunique()

Company_Brand    905
Founded           26
HeadQuarter       77
Sector           302
What_it_does     990
Founders         927
Investor         848
Amount           300
Stage             42
column10           2
dtype: int64

In [35]:
#Display 2020

data2.nunique()

Company_Brand    1033
Founded            30
HeadQuarter        70
Sector            254
What_it_does     1143
Founders         1095
Investor          937
Amount            278
Stage              31
dtype: int64

In [36]:
#Display 2019

data3.nunique()

Company/Brand    87
Founded          12
HeadQuarter      17
Sector           52
What it does     88
Founders         85
Investor         86
Amount($)        50
Stage            15
dtype: int64

In [37]:
#Display 2018

data4.nunique()

Company_Brand    525
Sector           405
Stage             21
Amount           198
HeadQuarter       50
What_it_does     524
dtype: int64

# CONCATENATING DATASETS

In [38]:
# Combine all datasets
df_combined = pd.concat([data, data2, data3, data4], ignore_index=True)

In [39]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  2790 non-null   object
 1   Founded        2110 non-null   float64
 2   HeadQuarter    2765 non-null   object
 3   Sector         2861 non-null   object
 4   What_it_does   2790 non-null   object
 5   Founders       2334 non-null   object
 6   Investor       2253 non-null   object
 7   Amount         2533 non-null   object
 8   Stage          1941 non-null   object
 9   column10       2 non-null      object
 10  Company/Brand  89 non-null     object
 11  What it does   89 non-null     object
 12  Amount($)      89 non-null     object
dtypes: float64(1), object(12)
memory usage: 292.5+ KB

In [40]:
df_combined.describe().T

          count         mean       std     min     25%     50%     75%     max
Founded  2110.0  2016.079621  4.368006  1963.0  2015.0  2017.0  2019.0  2021.0

In [41]:
df_combined.dtypes

Company_Brand     object
Founded          float64
HeadQuarter       object
Sector            object
What_it_does      object
Founders          object
Investor          object
Amount            object
Stage             object
column10          object
Company/Brand     object
What it does      object
Amount($)         object
dtype: object

In [42]:
df_combined.nunique()

Company_Brand    2168
Founded            34
HeadQuarter       172
Sector            873
What_it_does     2617
Founders         1980
Investor         1777
Amount            754
Stage              75
column10            2
Company/Brand      87
What it does       88
Amount($)          50
dtype: int64

In [43]:
df_combined.shape

(2879, 13)

In [44]:
df_combined.duplicated().sum()

23

# CLEANING ALL THE DATASETS 2021-2018

In [45]:
# Renaming columns to standardize names
df_combined.rename(columns={
    'Company/Brand': 'Company_Brand',
    'What it does': 'What_it_does',
    'Amount($)': 'Amount'
},inplace=True)

In [46]:
# Check for duplicated columns
df_combined.columns.duplicated()

array([False, False, False, False, False, False, False, False, False,
       False,  True,  True,  True])

In [47]:
# Rename duplicate columns to make them unique

df_combined.columns = ['Company_Brand_1', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does_1', 'Founders', 'Investor', 'Amount_1', 'Stage', 'column10', 'Company_Brand_2', 'What_it_does_2', 'Amount_2']

In [48]:
# Merge the duplicated columns
df_combined['Company_Brand'] = df_combined['Company_Brand_1'].combine_first(df_combined['Company_Brand_2'])
df_combined['What_it_does'] = df_combined['What_it_does_1'].combine_first(df_combined['What_it_does_2'])
df_combined['Amount'] = df_combined['Amount_1'].combine_first(df_combined['Amount_2'])

In [49]:
# Drop the original duplicated columns after merging
df_combined.drop(columns=['Company_Brand_1', 'Company_Brand_2', 'What_it_does_1', 'What_it_does_2', 'Amount_1', 'Amount_2'],inplace=True)

In [50]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Founded        2110 non-null   float64
 1   HeadQuarter    2765 non-null   object
 2   Sector         2861 non-null   object
 3   Founders       2334 non-null   object
 4   Investor       2253 non-null   object
 5   Stage          1941 non-null   object
 6   column10       2 non-null      object
 7   Company_Brand  2879 non-null   object
 8   What_it_does   2879 non-null   object
 9   Amount         2622 non-null   object
dtypes: float64(1), object(9)
memory usage: 225.1+ KB

# COLUMN BY COLUMN CLEANING

In [51]:
df_combined['Amount'].unique()

array([200000.0, 100000.0, nan, 400000.0, 340000.0, 600000.0, 45000000.0,
       1000000.0, 2000000.0, 1200000.0, 660000000.0, 120000.0, 7500000.0,
       5000000.0, 500000.0, 3000000.0, 10000000.0, 145000000.0,
       100000000.0, 21000000.0, 4000000.0, 20000000.0, 560000.0, 275000.0,
       4500000.0, 15000000.0, 390000000.0, 7000000.0, 5100000.0,
       700000000.0, 2300000.0, 700000.0, 19000000.0, 9000000.0,
       40000000.0, 750000.0, 1500000.0, 7800000.0, 50000000.0, 80000000.0,
       30000000.0, 1700000.0, 2500000.0, 40000.0, 33000000.0, 35000000.0,
       300000.0, 25000000.0, 3500000.0, 200000000.0, 6000000.0, 1300000.0,
       4100000.0, 575000.0, 800000.0, 28000000.0, 18000000.0, 3200000.0,
       900000.0, 250000.0, 4700000.0, 75000000.0, 8000000.0, 121000000.0,
       55000000.0, 3300000.0, 11000000.0, 16000000.0, 5400000.0,
       150000000.0, 4200000.0, 22000000.0, 52000000.0, 1100000.0,
       118000000.0, 1600000.0, 18500000.0, 70000000000.0, 800000000.0,
       400000000.0, 150000.0, 176000000.0, 60000000.0, 470000.0, 240000.0,
       3000000000.0, 74000000.0, 62000000.0, 2100000.0, 500000000.0,
       12500000.0, 2200000000.0, 5060000.0, 225000000.0, 24700000.0,
       7700000.0, 19067328.0, 51000000.0, 115000.0, 54000.0, 20000.0,
       803146.0, 238000.0, 10220000.0, 1020000.0, 12000000.0, 13400000.0,
       170000000.0, 2900000.0, 543000.0, 90000000.0, 3400000.0,
       23000000.0, 8090000.0, 1030000.0, 5040000.0, 360000.0, 1400000.0,
       650000.0, 54000000.0, 42500000.0, 11370000.0, 325000.0, 410000.0,
       450000.0, 682000.0, 4050000.0, 1050000.0, 1080000.0, 4300000.0,
       6800000.0, 2110000.0, 764000.0, 603000.0, 409000.0, 292000.0,
       286000.0, 136000.0, 546000.0, 887000.0, 43000.0, 40900.0,
       2200000.0, 5660000.0, 350000.0, 110000.0, 122000000.0, 11635000.0,
       2800000.0, 1065000.0, 669000.0, 16076000.0, 649600.0, 6700000.0,
       220000.0, 266500.0, 2879000.0, 26500000.0, 351000.0, 46761000.0,
       175000.0, 11241000.0, 804000.0, 1340000.0, 467000.0, 133000.0,
       3823000.0, 934000.0, 293000.0, 198000.0, 927000.0, 971000.0,
       3060000.0, 1862000.0, 232000.0, 2888000.0, 1328000.0, 15500000.0,
       56000000.0, 2250000.0, 16753000.0, 3700000.0, 1470000.0, 530000.0,
       267000.0, 3344000.0, 7200000.0, 2743000.0, 6082000.0, 6609000.0,
       27700000.0, 5940000.0, 3964000.0, 5500000.0, 197000.0, 4327000.0,
       459000.0, 3937000.0, 1313500.0, 229800.0, 5305000.0, 264000.0,
       1750000.0, 5967000.0, 2980000.0, 323000.0, 1326000.0, 27000000.0,
       5200000.0, 2530000.0, 792000.0, 11363000.0, 1715000.0, 329000.0,
       5271000.0, 8700000.0, 3226000.0, 5900000.0, 44000000.0, 3879000.0,
       13000000.0, 8800000.0, 9500000.0, 920000.0, 35600000.0, 9400000.0,
       790000.0, 480000.0, 160000.0, 8200000.0, 4257000.0, 1410000.0,
       349800.0, 786000.0, 2004000.0, 123000000.0, 248000.0, 24000000.0,
       14259000.0, 24500000.0, 3800000.0, 18370000.0, 68525000.0,
       4800000.0, 1834000.0, 23850000.0, 43000000.0, 21600000.0,
       4598000.0, 13137000.0, 115000000.0, 3900000.0, 670000.0, 8500000.0,
       3148000.0, 2600000.0, 4049500.0, 10500000.0, 6500000.0, 43700000.0,
       13800000.0, 306900.0, 420000.0, 627300.0, 113000000.0, 32000000.0,
       110000000.0, 1397000.0, 448500.0, 7975700.0, 330000.0, 5600000.0,
       1402000.0, 21500000.0, 296000000.0, 4900000.0, 1402400.0,
       12618300.0, 9900000.0, 982530.0, 70185200.0, 210000000.0,
       84000000.0, 39000000.0, 2700000.0, 1403400.0, 105000000.0,
       103000000.0, 281300.0, 12700.0, 25000.0, 97500000.0, 507000.0,
       8400000.0, 18300000.0, 125000000.0, 181000.0, 280000.0, 14700000.0,
       13200000.0, 8043000.0, '$1,200,000', '$120,000,000', '$30,000,000',
       '$51,000,000', '$2,000,000', '$188,000,000', '$200,000',
       'Undisclosed', '$1,000,000', '$3,000,000', '$100,000', '$700,000',
       '$9,000,000', '$40,000,000', '$49,000,000', '$400,000', '$300,000',
       '$25,000,000', '$160,000,000', '$150,000', '$1,800,000',
       '$5,000,000', '$850,000', '$53,000,000', '$500,000', '$1,100,000',
       '$6,000,000', '$800,000', '$10,000,000', '$21,000,000',
       '$7,500,000', '$26,000,000', '$7,400,000', '$1,500,000',
       '$600,000', '$800,000,000', '$17,000,000', '$3,500,000',
       '$15,000,000', '$215,000,000', '$2,500,000', '$350,000,000',
       '$5,500,000', '$83,000,000', '$110,000,000', '$500,000,000',
       '$65,000,000', '$150,000,000,000', '$300,000,000', '$2,200,000',
       '$35,000,000', '$140,000,000', '$4,000,000', '$13,000,000',
       '$Undisclosed', '$2000000', '$800000', '$6000000', '$2500000',
       '$9500000', '$13000000', '$5000000', '$8000000', '$1000000',
       'Upsparks', '$200000', '$12000000', '$1500000', '$1700000',
       '$5500000', '$400000', '$150000000', '$4000000', '$100000000',
       '$500000', '$15000000', '$10000000', '$40000000', '$225000000',
       '$6700000', '$1300000', '$20000000', '$250000', '$21000000',
       '$1200000', '$52000000', '$3800000', '$17500000', '$42000000',
       '$2300000', '$7000000', '$30000000', '$450000000', '$28000000',
       '$300000', '$3500000', '$8500000', '$25000000', '$3000000',
       '$37000000', '$370000000', '$700000', '$16000000', '$100000',
       '$44000000', '$770000', '$125000000', '$35000000', '$50000000',
       '$4900000', '$145000000', '$22000000', '$70000000', '$6600000',
       '$32000000', '$24000000', '$725000', '$461000', 'Series C', 'Seed',
       '$96000000', '$60000000', '$500000000', '$266000000', '$4500000',
       '$325000000', '$6500000', '$1600000', '$150000', '$225000',
       '$85000000', '$235000', '$260000', '$2900000', '$53000000',
       '$1100000', '$86000000', '$130000', '$$100,00', '$111000000',
       '$265000', '$76000000', '$100,000,000', '$75,000,000',
       '$3,800,000', '$12,000,000', '$1,600,000', '$260,000',
       '$1,000,000,000', '$18,000,000', '$20,000,000', '$350,000',
       '$95,000,000', '$4,100,000', '$5,200,000', '$8,000,000',
       '$1,400,000', '$2,600,000', '$900,000', '$250,000', '$16,000,000',
       '$7,000,000', '$11,000,000', '$280,000,000', '$50,000,000',
       '$14,300,000', '$81,000,000', '$1,300,000', '$8,200,000',
       '$70,000,000', '$720,000', '$600000', '$9000000', '$1800000',
       '$330000', '$undisclosed', '$200000000', '$36000000', '$67000000',
       '$10200000', '$220000000', '$108000000', '$75000000', '$450000',
       '$660000000', 'ah! Ventures', '$45000000', '$3200000', '$370000',
       'Pre-series A', 'ITO Angel Network, LetsVenture', '$48000000',
       '$3600000', '$11000000', '$192000000', '$65000000', '$1400000',
       '$1900000', '$41000000', '$144000000', '$5200000', '$270000000',
       '$140000', '$250000000', '$320000', '$350000000', '$4800000',
       '$38000000', '$125000', '$26000000', '$64000000', '$620000',
       '$900000', 'JITO Angel Network, LetsVenture', '$2600000',
       '$1,250,000', '$400,000,000', '$1,700,000', '$27,000,000',
       '$234,000,000', '$460,000,000', '$13,500,000', '$5,100,000',
       '$195,000,000', '$125,000', '$45,000,000', '$200,000,000',
       '$7,300,000', '$6,300,000', '$12,500,000', '$24,000,000',
       '$140,000', '$16,500,000', '$340,000', '$43,000,000',
       '$150,000,000', '$3300000', '$92000000', '$17000000', '$135000000',
       '$$1,55,000', '$2100000', '$840000000', '$248000000', '$4300000',
       '$570000', '$2200000', '$4700000', '$300000000', '$260000000',
       '$140000000', '$175000000', '$19000000', '$810000', '$7500000',
       '$600000000', '$90000000', '$5700000', '$6750000', '$78000000',
       '$5400000', '$115000000', '$255000000', '$18000000', '$570000000',
       '$550000', '$2700000', '$4200000', '$31000000', '$540000',
       '$14000000', '$340000', '$', '$6200000', '$750000', '$6300000',
       '$23000000', '$55000000', '$28,000,000', '$275,000,000',
       '$22,000,000', '$140,500', '$540,000,000', '$182,700',
       '$15,500,000', '$230,000,000', '$49,400,000', '$32,000,000',
       '$6,800,000', '$36,000,000', '$5,700,000', '$60,000,000',
       '$220,000', '$2,800,000', '$2,100,000', '$311,000,000',
       '$4,800,000', '$693,000,000', '$33,000,000', '250000',
       '₹40,000,000', '₹65,000,000', '2000000', '—', '1600000',
       '₹16,000,000', '₹50,000,000', '₹100,000,000', '150000', '1100000',
       '₹500,000', '6000000', '650000', '₹35,000,000', '₹64,000,000',
       '₹20,000,000', '1000000', '5000000', '4000000', '₹30,000,000',
       '2800000', '1700000', '1300000', '₹5,000,000', '₹12,500,000',
       '₹15,000,000', '500000', '₹104,000,000', '₹45,000,000', '13400000',
       '₹25,000,000', '₹26,400,000', '₹8,000,000', '₹60,000', '9000000',
       '100000', '20000', '120000', '₹34,000,000', '₹342,000,000',
       '$143,145', '₹600,000,000', '$742,000,000', '₹1,000,000,000',
       '₹2,000,000,000', '$3,980,000', '$10,000', '₹100,000',
       '₹250,000,000', '₹550,000,000', '$28,500,000', '₹240,000,000',
       '₹120,000,000', '$2,400,000', '₹2,500,000,000', '$23,000,000',
       '₹44,000,000', '$3,240,000', '₹60,000,000', '₹650,000,000',
       '₹1,600,000,000', '₹70,000,000', '$14,000,000', '₹102,500,000',
       '₹1,200,000', '₹5,200,000,000', '$1,041,000', '$15,000', '1400000',
       '1200000', '2200000', '1800000', '3600000', '₹9,500,000', '300000',
       '6830000', '200000', '₹150,000,000', '4300000', '364846', '400000',
       '1500000', '₹7,000,000', '₹1,400,000', '₹10,000,000',
       '₹22,500,000', '13200000', '50000', '₹140,200,000', '3000000',
       '1250000', '180000', '₹19,200,000', '₹103,000,000', '4200000',
       '175000', '1450000', '₹200,000', '4500000', '600000',
       '₹16,600,000', '₹12,000,000', '15000000', '₹33,000,000', '125000',
       '130000', '₹34,900,000', '₹72,000,000', '17200000', '₹32,000,000',
       '3500000', '₹135,000,000', '12000000', '₹1,540,000,000',
       '₹140,000,000', '$41,900,000', '₹1,410,000,000', '$3,530,000',
       '$3,300,000', '₹580,000,000', '₹36,000,000', '₹340,000,000',
       '$210,000,000', '$37,680,000', '$20,000', '₹510,000,000',
       '₹2,200,000,000', '22000000', '70000', '10000000',
       '₹15,392,000,000', '₹20,000,000,000', '₹4,000,000,000',
       '185000000', '65000000', '₹165,000,000', '700000', '30000000',
       '₹210,000,000', '210000000', '₹2,029,600,000', '75000000',
       '₹80,000,000', '1760000', '2700000', '₹280,000,000',
       '₹800,000,000', '750000', '2500000', '80000000', '25000000',
       '₹730,000,000', '₹400,000,000', '3700000', '5600000',
       '₹260,000,000', '99230000', '70000000', '40000', '550000',
       '50000000', '365000000', '₹8,750,000', '₹78,000,000', '28000000',
       '₹264,000,000', '100000000', '₹1,130,000,000', '₹810,000,000',
       '₹1,400,000,000', '14900000', '225000000', '7500', '35000000'],
      dtype=object)

In [52]:
# Define the cleaning function
def clean_amount(amount):
    if pd.isna(amount) or amount in ['Undisclosed', '$Undisclosed', 'Upsparks']:
        return np.nan
    if isinstance(amount, str):
        amount = amount.replace(',', '').replace('$', '').replace('₹', '')
    try:
        amount = float(amount)
    except ValueError:
        return np.nan
    return amount

In [53]:
# Apply the cleaning function to the 'Amount' column
df_combined['Amount'] = df_combined['Amount'].apply(clean_amount)

In [54]:
# Create a temporary column to identify the currency type

df_combined['Currency'] = df_combined['Amount'].apply(lambda x: 'INR' if '₹' in str(x) else 'USD')

In [55]:
# Function to convert all amounts to USD

def convert_currency(amount, currency):
    if currency == 'INR':
        return amount * 0.013  # Assuming an exchange rate of 1 INR = 0.013 USD
    return amount

In [56]:
# Convert all amounts to USD

df_combined['Amount'] = df_combined.apply(lambda row: convert_currency(row['Amount'], row['Currency']), axis=1)

In [57]:
# Drop the temporary 'Currency' column

df_combined.drop(columns=['Currency'], inplace=True)

In [58]:
# Convert the cleaned 'Amount' column to numeric, forcing errors to NaN

df_combined['Amount'] = pd.to_numeric(df_combined['Amount'], errors='coerce')

In [59]:
# Check for missing values before filling

missing_values_before = df_combined['Amount'].isnull().sum()
print(f"Missing values in 'Amount' column before filling: {missing_values_before}")

Missing values in 'Amount' column before filling: 567

In [60]:
# Fill remaining missing values in 'Amount' column with the median value

df_combined['Amount'].fillna(df_combined['Amount'].median(), inplace=True)

In [61]:
# Check for missing values after filling

missing_values_after = df_combined['Amount'].isnull().sum()
print(f"Missing values in 'Amount' column after filling: {missing_values_after}")

Missing values in 'Amount' column after filling: 0

In [62]:
# Check the cleaned DataFrame

df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Founded        2110 non-null   float64
 1   HeadQuarter    2765 non-null   object
 2   Sector         2861 non-null   object
 3   Founders       2334 non-null   object
 4   Investor       2253 non-null   object
 5   Stage          1941 non-null   object
 6   column10       2 non-null      object
 7   Company_Brand  2879 non-null   object
 8   What_it_does   2879 non-null   object
 9   Amount         2879 non-null   float64
dtypes: float64(2), object(8)
memory usage: 225.1+ KB

FOUNDED

In [63]:
df_combined['Founded'].unique()

array([2019., 2018., 2020., 2016., 2008., 2015., 2017., 2014., 1998.,
       2007., 2011., 1982., 2013., 2009., 2012., 1995., 2010., 2006.,
       1978.,   nan, 1999., 1994., 2005., 1973., 2002., 2004., 2001.,
       2021., 1993., 1989., 2000., 2003., 1991., 1984., 1963.])

In [64]:
# Rename the column
df_combined.rename(columns={'Founded': 'Year'}, inplace=True)

In [65]:
# Convert the 'Year' column to datetime format (handling NaNs appropriately)
df_combined['Year'] = pd.to_datetime(df_combined['Year'], format='%Y', errors='coerce')

In [66]:
# Check unique values to ensure conversion
df_combined['Year'].unique()

<DatetimeArray>
['2019-01-01 00:00:00', '2018-01-01 00:00:00', '2020-01-01 00:00:00',
 '2016-01-01 00:00:00', '2008-01-01 00:00:00', '2015-01-01 00:00:00',
 '2017-01-01 00:00:00', '2014-01-01 00:00:00', '1998-01-01 00:00:00',
 '2007-01-01 00:00:00', '2011-01-01 00:00:00', '1982-01-01 00:00:00',
 '2013-01-01 00:00:00', '2009-01-01 00:00:00', '2012-01-01 00:00:00',
 '1995-01-01 00:00:00', '2010-01-01 00:00:00', '2006-01-01 00:00:00',
 '1978-01-01 00:00:00',                 'NaT', '1999-01-01 00:00:00',
 '1994-01-01 00:00:00', '2005-01-01 00:00:00', '1973-01-01 00:00:00',
 '2002-01-01 00:00:00', '2004-01-01 00:00:00', '2001-01-01 00:00:00',
 '2021-01-01 00:00:00', '1993-01-01 00:00:00', '1989-01-01 00:00:00',
 '2000-01-01 00:00:00', '2003-01-01 00:00:00', '1991-01-01 00:00:00',
 '1984-01-01 00:00:00', '1963-01-01 00:00:00']
Length: 35, dtype: datetime64[ns]

In [67]:
# Handle missing values by filling with the median year
# Calculate the median year as an integer

median_year = int(df_combined['Year'].dropna().dt.year.median())

In [68]:
# Fill missing values with the median year

df_combined['Year'] = df_combined['Year'].fillna(pd.Timestamp(median_year, 1, 1))

In [69]:
# Ensure the 'Year' column is in datetime format

df_combined['Year'] = pd.to_datetime(df_combined['Year'], format='%Y', errors='coerce')

In [70]:
# Check the DataFrame info to ensure proper conversion and filling

df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           2879 non-null   datetime64[ns]
 1   HeadQuarter    2765 non-null   object
 2   Sector         2861 non-null   object
 3   Founders       2334 non-null   object
 4   Investor       2253 non-null   object
 5   Stage          1941 non-null   object
 6   column10       2 non-null      object
 7   Company_Brand  2879 non-null   object
 8   What_it_does   2879 non-null   object
 9   Amount         2879 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(8)
memory usage: 225.1+ KB

HEADQUARTER

In [71]:
df_combined['HeadQuarter'].unique()

array(['Chennai', 'Bangalore', 'Pune', 'New Delhi', 'Indore', 'Hyderabad',
       'Gurgaon', 'Belgaum', 'Noida', 'Mumbai', 'Andheri', 'Jaipur',
       'Ahmedabad', 'Kolkata', 'Tirunelveli, Tamilnadu', 'Thane', None,
       'Singapore', 'Gurugram', 'Gujarat', 'Haryana', 'Kerala', 'Jodhpur',
       'Jaipur, Rajastan', 'Delhi', 'Frisco, Texas, United States',
       'California', 'Dhingsara, Haryana', 'New York, United States',
       'Patna', 'San Francisco, California, United States',
       'San Francisco, United States', 'San Ramon, California',
       'Paris, Ile-de-France, France', 'Plano, Texas, United States',
       'Sydney', 'San Francisco Bay Area, Silicon Valley, West Coast',
       'Bangaldesh', 'London, England, United Kingdom',
       'Sydney, New South Wales, Australia', 'Milano, Lombardia, Italy',
       'Palmwoods, Queensland, Australia', 'France',
       'San Francisco Bay Area, West Coast, Western US',
       'Trivandrum, Kerala, India', 'Cochin', 'Samastipur, Bihar',
       'Irvine, California, United States', 'Tumkur, Karnataka',
       'Newcastle Upon Tyne, Newcastle upon Tyne, United Kingdom',
       'Shanghai, China', 'Jiaxing, Zhejiang, China', 'Rajastan', 'Kochi',
       'Ludhiana', 'Dehradun', 'San Franciscao', 'San Francisco',
       'Tangerang, Jawa Barat, Indonesia', 'Berlin', 'Seattle', 'Riyadh',
       'Seoul', 'New York', 'Bangkok', 'Kanpur', 'Chandigarh', 'Warangal',
       'Hyderebad', 'Odisha', 'Bihar', 'Goa', 'Tamil Nadu',
       'Uttar Pradesh', 'Bhopal', 'Banglore', 'Coimbatore', 'Bengaluru',
       'Ahmadabad', 'Small Towns, Andhra Pradesh', 'Rajsamand', 'Ranchi',
       'Faridabad, Haryana', 'Computer Games', 'Vadodara',
       'Food & Beverages', 'Pharmaceuticals\t#REF!', 'Gurugram\t#REF!',
       'Mohali', 'Powai', 'Ghaziabad', 'Nagpur', 'West Bengal',
       'Samsitpur', 'Lucknow', 'Telangana', 'Silvassa',
       'Thiruvananthapuram', 'Faridabad', 'Roorkee', 'Ambernath',
       'Panchkula', 'Surat', 'Mangalore', 'Telugana', 'Bhubaneswar',
       'Kottayam', 'Beijing', 'Panaji', 'Satara', 'Orissia', 'Santra',
       'Mountain View, CA', 'Trivandrum', 'Jharkhand', 'Bhilwara',
       'Guwahati', 'Online Media\t#REF!', 'London',
       'Information Technology & Services', 'The Nilgiris', 'Gandhinagar',
       nan, 'Uttar pradesh', 'Rajasthan', 'Bangalore, Karnataka, India',
       'Mumbai, Maharashtra, India', 'Gurgaon, Haryana, India',
       'Noida, Uttar Pradesh, India', 'Hyderabad, Andhra Pradesh, India',
       'Bengaluru, Karnataka, India', 'Kalkaji, Delhi, India',
       'Delhi, Delhi, India', 'India, Asia', 'Hubli, Karnataka, India',
       'New Delhi, Delhi, India', 'Chennai, Tamil Nadu, India',
       'Mohali, Punjab, India', 'Kolkata, West Bengal, India',
       'Pune, Maharashtra, India', 'Jodhpur, Rajasthan, India',
       'Kanpur, Uttar Pradesh, India', 'Ahmedabad, Gujarat, India',
       'Azadpur, Delhi, India', 'Haryana, Haryana, India',
       'Cochin, Kerala, India', 'Faridabad, Haryana, India',
       'Jaipur, Rajasthan, India', 'Kota, Rajasthan, India',
       'Anand, Gujarat, India', 'Bangalore City, Karnataka, India',
       'Belgaum, Karnataka, India', 'Thane, Maharashtra, India',
       'Margão, Goa, India', 'Indore, Madhya Pradesh, India',
       'Alwar, Rajasthan, India', 'Kannur, Kerala, India',
       'Ernakulam, Kerala, India', 'Kormangala, Karnataka, India',
       'Uttar Pradesh, India, Asia', 'Andheri, Maharashtra, India',
       'Mylapore, Tamil Nadu, India', 'Ghaziabad, Uttar Pradesh, India',
       'Kochi, Kerala, India', 'Powai, Assam, India',
       'Guntur, Andhra Pradesh, India', 'Kalpakkam, Tamil Nadu, India',
       'Bhopal, Madhya Pradesh, India', 'Coimbatore, Tamil Nadu, India',
       'Worli, Maharashtra, India', 'Alleppey, Kerala, India',
       'Chandigarh, Chandigarh, India', 'Guindy, Tamil Nadu, India',
       'Lucknow, Uttar Pradesh, India'], dtype=object)

In [72]:
# Replace anomalies and correct known errors
df_combined['HeadQuarter'] = df_combined['HeadQuarter'].replace({
    '\t#REF!': '',
    'Pharmaceuticals\t#REF!': 'Pharmaceuticals',
    'Gurugram\t#REF!': 'Gurugram',
    'Telugana': 'Telangana',
    'Orissia': 'Odisha',
    'Small Towns, Andhra Pradesh': 'Andhra Pradesh',
    'Bangalore': 'Bengaluru',
    'Gurgaon': 'Gurugram',
    'Pune, Maharashtra, India': 'Pune',
    'Hyderabad, Andhra Pradesh, India': 'Hyderabad',
    'Bangalore, Karnataka, India': 'Bengaluru',
    'Mumbai, Maharashtra, India': 'Mumbai',
    'Noida, Uttar Pradesh, India': 'Noida',
    'Chennai, Tamil Nadu, India': 'Chennai',
    'New Delhi, Delhi, India': 'New Delhi',
    'Delhi, Delhi, India': 'Delhi',
    'Haryana, Haryana, India': 'Haryana',
    'Cochin, Kerala, India': 'Cochin',
    'Jaipur, Rajasthan, India': 'Jaipur',
    'Kolkata, West Bengal, India': 'Kolkata',
    'Powai, Assam, India': 'Powai',
    'Ghaziabad, Uttar Pradesh, India': 'Ghaziabad',
    'Mylapore, Tamil Nadu, India': 'Mylapore',
    'Lucknow, Uttar Pradesh, India': 'Lucknow'
})

In [73]:
# Step 2: Remove anomalies and whitespace
df_combined['HeadQuarter'] = df_combined['HeadQuarter'].str.replace(r'\t#REF!', '', regex=True).str.strip()

In [74]:
# Step 3: Standardize city and state/country names
# Create a mapping dictionary for standardizing names
standard_city_names = {
    'Mumbai': 'Mumbai',
    'Bengaluru': 'Bengaluru',
    'Hyderabad': 'Hyderabad',
    'Chennai': 'Chennai',
    'Pune': 'Pune',
    'Noida': 'Noida',
    'New Delhi': 'New Delhi',
    'Delhi': 'Delhi',
    'Gurugram': 'Gurugram',
    'Gurgaon': 'Gurugram',
    'Kolkata': 'Kolkata',
    'Rajasthan': 'Rajasthan',  
    'Odisha': 'Odisha',  
    'Goa': 'Goa',  
    'Gujarat': 'Gujarat',  
    'West Bengal': 'West Bengal',  
    'Jharkhand': 'Jharkhand',  
    'Uttar Pradesh': 'Uttar Pradesh',  
    'Haryana': 'Haryana',  
    'Madhya Pradesh': 'Madhya Pradesh',  
    'Kerala': 'Kerala',  
    'Punjab': 'Punjab',  
    'Andhra Pradesh': 'Andhra Pradesh'
}

In [75]:
# Apply the standardization
df_combined['HeadQuarter'] = df_combined['HeadQuarter'].replace(standard_city_names)

In [76]:
# Step 4: Handle missing values
# For this example, let's fill missing values with 'Unknown'

df_combined['HeadQuarter'].fillna('Unknown', inplace=True)

In [77]:
# Check the cleaned HeadQuarter column
print(df_combined['HeadQuarter'].unique())

['Chennai' 'Bengaluru' 'Pune' 'New Delhi' 'Indore' 'Hyderabad' 'Gurugram'
 'Belgaum' 'Noida' 'Mumbai' 'Andheri' 'Jaipur' 'Ahmedabad' 'Kolkata'
 'Tirunelveli, Tamilnadu' 'Thane' 'Unknown' 'Singapore' 'Gujarat'
 'Haryana' 'Kerala' 'Jodhpur' 'Jaipur, Rajastan' 'Delhi'
 'Frisco, Texas, United States' 'California' 'Dhingsara, Haryana'
 'New York, United States' 'Patna'
 'San Francisco, California, United States' 'San Francisco, United States'
 'San Ramon, California' 'Paris, Ile-de-France, France'
 'Plano, Texas, United States' 'Sydney'
 'San Francisco Bay Area, Silicon Valley, West Coast' 'Bangaldesh'
 'London, England, United Kingdom' 'Sydney, New South Wales, Australia'
 'Milano, Lombardia, Italy' 'Palmwoods, Queensland, Australia' 'France'
 'San Francisco Bay Area, West Coast, Western US'
 'Trivandrum, Kerala, India' 'Cochin' 'Samastipur, Bihar'
 'Irvine, California, United States' 'Tumkur, Karnataka'
 'Newcastle Upon Tyne, Newcastle upon Tyne, United Kingdom'
 'Shanghai, China' 'Jiaxing, Zhejiang, China' 'Rajastan' 'Kochi'
 'Ludhiana' 'Dehradun' 'San Franciscao' 'San Francisco'
 'Tangerang, Jawa Barat, Indonesia' 'Berlin' 'Seattle' 'Riyadh' 'Seoul'
 'New York' 'Bangkok' 'Kanpur' 'Chandigarh' 'Warangal' 'Hyderebad'
 'Odisha' 'Bihar' 'Goa' 'Tamil Nadu' 'Uttar Pradesh' 'Bhopal' 'Banglore'
 'Coimbatore' 'Ahmadabad' 'Andhra\xa0Pradesh' 'Rajsamand' 'Ranchi'
 'Faridabad, Haryana' 'Computer Games' 'Vadodara' 'Food & Beverages'
 'Pharmaceuticals' 'Mohali' 'Powai' 'Ghaziabad' 'Nagpur' 'West Bengal'
 'Samsitpur' 'Lucknow' 'Telangana' 'Silvassa' 'Thiruvananthapuram'
 'Faridabad' 'Roorkee' 'Ambernath' 'Panchkula' 'Surat' 'Mangalore'
 'Bhubaneswar' 'Kottayam' 'Beijing' 'Panaji' 'Satara' 'Santra'
 'Mountain View, CA' 'Trivandrum' 'Jharkhand' 'Bhilwara' 'Guwahati'
 'Online Media' 'London' 'Information Technology & Services'
 'The Nilgiris' 'Gandhinagar' 'Uttar pradesh' 'Rajasthan'
 'Gurgaon, Haryana, India' 'Bengaluru, Karnataka, India'
 'Kalkaji, Delhi, India' 'India, Asia' 'Hubli, Karnataka, India'
 'Mohali, Punjab, India' 'Jodhpur, Rajasthan, India'
 'Kanpur, Uttar Pradesh, India' 'Ahmedabad, Gujarat, India'
 'Azadpur, Delhi, India' 'Faridabad, Haryana, India'
 'Kota, Rajasthan, India' 'Anand, Gujarat, India'
 'Bangalore City, Karnataka, India' 'Belgaum, Karnataka, India'
 'Thane, Maharashtra, India' 'Margão, Goa, India'
 'Indore, Madhya Pradesh, India' 'Alwar, Rajasthan, India'
 'Kannur, Kerala, India' 'Ernakulam, Kerala, India'
 'Kormangala, Karnataka, India' 'Uttar Pradesh, India, Asia'
 'Andheri, Maharashtra, India' 'Mylapore' 'Kochi, Kerala, India'
 'Guntur, Andhra Pradesh, India' 'Kalpakkam, Tamil Nadu, India'
 'Bhopal, Madhya Pradesh, India' 'Coimbatore, Tamil Nadu, India'
 'Worli, Maharashtra, India' 'Alleppey, Kerala, India'
 'Chandigarh, Chandigarh, India' 'Guindy, Tamil Nadu, India']

In [78]:
# Ensure proper conversion and filling

df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           2879 non-null   datetime64[ns]
 1   HeadQuarter    2879 non-null   object
 2   Sector         2861 non-null   object
 3   Founders       2334 non-null   object
 4   Investor       2253 non-null   object
 5   Stage          1941 non-null   object
 6   column10       2 non-null      object
 7   Company_Brand  2879 non-null   object
 8   What_it_does   2879 non-null   object
 9   Amount         2879 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(8)
memory usage: 225.1+ KB

SECTOR

In [79]:
df_combined['Sector'].unique()

array(['AgriTech', 'EdTech', 'Hygiene management', 'Escrow',
       'Networking platform', 'FinTech', 'Crowdsourcing',
       'Food & Bevarages', 'HealthTech', 'Fashion startup',
       'Food Industry', 'Food Delivery', 'Virtual auditing startup',
       'E-commerce', 'Gaming', 'Work fulfillment', 'AI startup',
       'Telecommunication', 'Logistics', 'Tech Startup', 'Sports',
       'Retail', 'Medtech', 'Tyre management', 'Cloud company',
       'Software company', 'Venture capitalist', 'Renewable player',
       'IoT startup', 'SaaS startup', 'Aero company', 'Marketing company',
       'Retail startup', 'Co-working Startup', 'Finance company',
       'Tech company', 'Solar Monitoring Company',
       'Video sharing platform', 'Gaming startup',
       'Video streaming platform', 'Consumer appliances',
       'Blockchain startup', 'Conversational AI platform', 'Real Estate',
       'SaaS platform', 'AI platform', 'Fusion beverages', 'HR Tech',
       'Job portal', 'Hospitality', 'Digital Media', 'Dairy startup',
       'Content management', 'Spacetech', 'Transportation',
       'Trading platform', 'AI Company', 'Photonics startup',
       'Entertainment', 'Cosmetics', 'Scanning app', 'Skincare startup',
       'Food and Beverages', 'Biotechnology company', 'FoodTech',
       'Proptech', 'CleanTech', 'Fitness startup', 'Healthcare',
       'PaaS startup', 'Beverages', 'Social Media', 'Automobiles',
       'Deeptech', 'EV startup', 'AR/VR startup', 'Recruitment startup',
       'QSR startup', 'Video platform', 'Edtech', 'Fertility tech',
       'Luxury car startup', 'FM', 'Food', 'Nutrition sector',
       'Tech platform', 'Video', 'Retail Tech', 'HeathTech',
       'Sles and marketing', 'LegalTech', 'Car Service',
       'Bike marketplace', 'Agri tech', 'Reatil startup', 'AR platform',
       'Consumer Goods', 'Content marketplace', 'Interior Design',
       'Rental space', 'Soil-Tech', 'Ayurveda tech',
       'Packaging solution startup', 'Cleantech', 'Sanitation solutions',
       'HealthCare', 'Home Design', 'InsureTech', 'AI Startup',
       'Solar solution', 'Jewellery startup',
       'Multinational conglomerate company', 'Deeptech startup',
       'Social Network', 'Publication', 'Tech', 'Fashion', 'Finance',
       'Venture capital', 'Entreprenurship', 'Food devlivery',
       'Warehouse', 'Online financial service', 'Eyeglasses',
       'Battery design', 'Online credit management startup', 'Beverage',
       'TravelTech', 'Agriculture', 'Startup laboratory',
       'Personal care startup', 'Customer service company',
       'SaaS\xa0\xa0startup', 'Marketing startup', 'Service industry',
       'Social media', 'AI', 'Jewellery', 'AR startup', 'HR Tech startup',
       'Automotive Startup', 'Food Startup', 'EdTech Startup',
       'Car Trade', 'EdtTech', 'Manufacturing', 'AI Platform',
       'Automation', 'Solar SaaS', 'WL & RAC protection',
       'Social commerce', 'Home interior services', 'Agritech startup',
       'API platform', 'Deep Tech', 'Electricity', 'Automotive company',
       'FMCG', 'Insurance Tech', 'Video personalization',
       'Software Company', 'Biomaterial startup', 'Health', 'IT',
       'Craft Beer', 'Healthtech', 'Education', 'Investment',
       'Linguistic Spiritual', 'Construction', 'Battery manufacturer',
       'Nano Distribution Network', 'AI health', 'Dating app', 'Media',
       'Fintech', 'Healthcare/Edtech', 'Social Commerce',
       'Agritech/Commerce', 'Mobility tech', 'Social e-commerce',
       'Food & Logistics', 'SpaceTech', 'Nutrition Tech', 'HR', 'IoT',
       None, 'Agritech', 'Interior design', 'Foodtech', 'AR/VR',
       'Appliance', 'HR tech', 'Food tech', 'Mental Health', 'Ecommerce',
       'Solar Solution', 'SaaS', 'Automobile', 'B2B marketplace',
       'Fashion Tech', 'Nutrition tech', 'Health & Wellness',
       'Cloud Kitchen', 'IoT/Automobile', 'Eye Wear', 'Digital tech',
       'Data Intelligence', 'Co-living', 'Food & Beverages', 'Automotive',
       'B2B', 'Defense tech', 'Marketplace', 'Construction tech',
       'Nutrition', 'Coworking', 'Micro-mobiity', 'Auto-tech', 'Beauty',
       'Robotics', 'Yoga & wellness', 'Logitech', 'Med Tech',
       'Life sciences', 'Retail Aggregator', 'Deep Tech AI', 'Biotech',
       'Blockchain', 'HrTech', 'Mobility/Transport', 'Travel', 'Rental',
       'AI & Debt', 'SaaS/Edtech', 'Transport', 'Co-working', 'Insurtech',
       'Cryptocurrency', 'Automotive tech', 'Legal', 'Fitness', 'EV',
       'Supply chain, Agritech', 'Pharma', 'Insurance technology',
       'Foodtech & Logistics', 'Housing', 'Pharmaceutical',
       'Data Analytics', 'Investment Tech', 'Financial Services',
       'Biopharma', 'Dairy', 'Beauty & wellness', 'Travel & SaaS',
       'Tourism & EV', 'Media Tech', 'Location Analytics', 'E store',
       'Data Science', 'Insurance', 'Health and Fitness', 'Technology',
       'Interior & decor', 'eMobility', 'Automation tech',
       'Media & Networking', 'E-market', 'AI & Data science',
       'Travel tech', 'Automotive and Rentals', 'E-tail', 'Accomodation',
       'AI & Media', 'Machine Learning', 'Content Marktplace',
       'Visual Media', 'Hygiene', 'VR & SaaS', 'Sales & Services',
       'AI & Deep learning', 'Housing & Rentals', 'Estore', 'Marketing',
       'E tailor', 'E-mobility', 'Ad-tech', 'Neo-banking',
       'Transport Automation', 'Techonology', 'Transport & Rentals',
       'AI Robotics', 'Preschool Daycare', 'Food diet', 'B2B Agritech',
       'E-connect', 'Tech hub', 'Consultancy', 'Pharmacy', 'Deisgning',
       'Taxation', 'Automobile Technology', 'B2B E-commerce',
       'Home services', 'B2B service', 'Helathcare', 'Renewable Energy',
       'Electronics', 'IT startup', 'Aeorspace', 'Dating',
       'Oil and Energy', 'Telecommuncation', 'Milk startup', 'AI Chatbot',
       'Food delivery', 'Fantasy sports', 'Video communication',
       'Skill development', 'Recruitment', 'Computer Games',
       'Information Technology', 'Apparel & Fashion',
       'Logistics & Supply Chain', 'SportsTech', 'HRTech',
       'Wine & Spirits', 'Mechanical & Industrial Engineering',
       'Spiritual', 'Industrial Automation', 'Lifestyle', 'Banking',
       'Computer software', 'Tech startup', 'Digital mortgage',
       'Information Technology & Services', 'Furniture', 'Healtcare',
       'Consumer Electronics', 'Tobacco', 'Insuretech', 'MLOps platform',
       'Venture Capital', 'Pet care', 'Drone', 'Wholesale', 'E-learning',
       'Consumer Services', 'Venture Capital & Private Equity',
       'Health, Wellness & Fitness', 'OTT', 'Education Management',
       'Computer Software', 'Software Startup',
       'Computer & Network Security', 'Capital Markets', 'Social network',
       'Hospital & Health Care', 'Music', 'Hauz Khas',
       'Primary Business is Development and Manufacturing of Novel Healthcare Products in Effervescent forms using imported propriety ingredients.',
       "MoEVing is India's only Electric Mobility focused Technology Platform with a vision to accelerate EV adoption in India.",
       'Mobility', 'Digital platform', 'B2B Ecommerce', 'Online Media',
       'Mobile Games', 'Food Production', 'Podcast', 'Battery',
       'Content publishing', 'Water purification', 'Content commerce',
       'Innovation Management', 'Celebrity Engagement', 'Personal Care',
       'Cannabis startup', 'Blogging', 'Consulting', 'BioTechnology',
       'B2B Marketplace', 'Health care', 'Social audio',
       'Fashion and lifestyle', 'Delivery service', 'B2B Manufacturing',
       'Home Decor', 'Solar', 'TaaS startup', 'Manufacturing startup',
       'Vehicle repair startup', 'Advisory firm', 'Legaltech',
       'Pollution control equiptment', 'Fashion & Lifestyle', 'D2C',
       'Environmental Services', 'Merchandise', 'Facilities Services',
       'Marketing & Advertising', 'Human Resources', 'Eyewear',
       'D2C Business', 'Biotechnology', 'Farming', 'NFT Marketplace',
       'Internet', 'Consumer software', 'Social community', 'Fishery',
       'Renewables & Environment', 'Online storytelling', 'Aviation',
       'IT company', 'Environmental service', 'Job discovery platform',
       'D2C Fashion', 'Heathcare', 'CRM', 'Software', 'D2C startup',
       'Innovation management', 'Community platform', 'Networking',
       'Commercial Real Estate', 'Consumer service', 'Consumer goods',
       'MarTech', 'Advertisement', 'Content creation',
       'Augmented reality', 'Bike Rental', 'Beauty products', 'Tourism',
       'FemTech', 'Cultural', 'Supply chain platform', 'Social platform',
       'Real estate', 'AI company', 'Sports startup', 'Matrimony',
       'Crypto', 'Clothing', 'Analytics', 'IoT platform', 'Commerce',
       'Defense & Space', 'Business Supplies & Equipment', 'NFT',
       'Oil & Energy', 'Company-as-a-Service', 'Textiles',
       'Professional Training & Coaching', 'Maritime',
       'Housing Marketplace', 'Furniture Rental', 'Telecommunications',
       'Equity Management', 'Cloud kitchen', 'Nanotechnology',
       'Community', 'Higher Education',
       'Mechanical Or Industrial Engineering', 'D2C jewellery',
       'Sales and Distribution', 'Information Services',
       'Translation & Localization', 'Investment Banking', 'Femtech',
       'sports', 'Foootwear', 'Legal Services', 'Veterinary',
       'Arts & Crafts', 'Investment Management', 'Management Consulting',
       'B2B startup',
       'Sochcast is an Audio experiences company that give the listener and creators an Immersive Audio experience',
       'Design', 'B2B Travel', 'Manchester, Greater Manchester',
       'Product studio', 'Aviation & Aerospace', 'Staffing & Recruiting',
       'AI & Tech', 'E-commerce & AR', 'Safety tech', 'E-marketplace',
       'Robotics & AI', 'Food & Nutrition', nan, 'E-Sports',
       'B2B Supply Chain', 'Games', 'Food & tech', 'Legal tech',
       'Mutual Funds', 'Cybersecurity', 'Virtual Banking',
       'Marketing & Customer loyalty', 'Infratech',
       'Automobile & Technology',
       'Brand Marketing, Event Promotion, Marketing, Sponsorship, Ticketing',
       'Agriculture, Farming',
       'Credit, Financial Services, Lending, Marketplace',
       'Financial Services, FinTech',
       'E-Commerce Platforms, Retail, SaaS',
       'Cloud Infrastructure, PaaS, SaaS',
       'Internet, Leisure, Marketplace', 'Market Research',
       'Information Services, Information Technology', 'Mobile Payments',
       'B2B, Shoes',
       'Apps, Collaboration, Developer Platform, Enterprise Software, Messaging, Productivity Tools, Video Chat',
       'Automotive, Search Engine, Service Industry',
       'Finance, Internet, Travel',
       'Accounting, Business Information Systems, Business Travel, Finance, SaaS',
       'Artificial Intelligence, Product Search, SaaS, Service Industry, Software',
       'Internet of Things, Waste Management',
       'Air Transportation, Freight Service, Logistics, Marine Transportation',
       'Food and Beverage', 'Autonomous Vehicles',
       'Enterprise Software, Health Care, Hospital, Parenting, Personal Health, SaaS',
       'Agriculture, Analytics, Big Data, Farming',
       'Logistics, Supply Chain Management',
       'Financial Services, Lending',
       'Automotive, Marketplace, Online Portals',
       'Artificial Intelligence',
       'Internet of Things, Telecommunications',
       'Information Technology, Logistics, Supply Chain Management',
       'Blockchain, Developer Tools, Enterprise Software',
       'Industrial Automation, Logistics, Supply Chain Management',
       'Food and Beverage, Food Delivery, Snack Food',
       'E-Commerce, Fashion, Jewelry, Retail', 'E-Learning, Education',
       'Clean Energy, CleanTech, Laundry and Dry-cleaning',
       'E-Commerce, Fashion, Mobile',
       'Apps, Messaging, Navigation, Public Safety',
       'Fitness, Health Care, Wellness',
       'Artificial Intelligence, Machine Learning, SaaS, Virtual Assistant',
       'Food and Beverage, Tea',
       'Media and Entertainment, News, Outdoors',
       'Broadcasting, Media and Entertainment, Music, Music Streaming, Video, Video Streaming',
       'B2B, Information Services, Information Technology',
       'EdTech, Education, Enterprise Software, Peer to Peer',
       'Health Care, Medical', 'E-Commerce',
       'Health Care, Hospital, Wellness', '—',
       'Big Data, Consumer Lending, FinTech',
       'Cloud Computing, Computer, Semiconductor',
       'Health Care, Medical, Pharmaceutical', 'Food Processing, Retail',
       'Trading Platform', "Consumer Goods, Lifestyle, Men's", 'Wellness',
       'Food and Beverage, Food Processing, Nutrition',
       'Automotive, Electric Vehicle, Energy Storage',
       'Consulting, Retail, Social',
       'Biotechnology, Life Science, Pharmaceutical, Product Research',
       'Health Care',
       'Credit, Financial Services, FinTech, Personal Finance',
       'Communities, Coworking, Incubators',
       'Consumer, Financial Services, FinTech',
       'Consumer Applications, Information Services, Location Based Services, Virtual Assistant',
       'Mobile, Mobile Apps, Personalization, Test and Measurement, Web Apps',
       'Education, Financial Services, FinTech',
       'Advertising, Consulting, Digital Marketing',
       'Marketplace, Real Estate, Rental Property',
       'E-Learning, Internet, Video Games',
       'Artificial Intelligence, Cloud Computing, Video',
       'Health Care, Information Technology', 'Aerospace',
       'E-Commerce, Fashion, Lifestyle',
       'Artificial Intelligence, Business Intelligence, Industrial Automation, Machine Learning',
       'Home Decor, Home Improvement, Home Renovation, Home Services, Interior Design, Smart Home',
       'EdTech, Education, Information Services, SaaS', 'Energy, Solar',
       'B2B, Biometrics, Cyber Security, Fraud Detection, SaaS, Security',
       'Artificial Intelligence, Social',
       'Logistics, Transportation, Travel',
       'Digital Marketing, SEM, SEO, Web Development',
       'Health Care, Hospital, Medical', 'Finance, Financial Services',
       'Food Delivery, Food Processing, Internet',
       'E-Commerce, Food and Beverage, Internet',
       'Fitness, Food and Beverage, Health Care, Nutrition',
       'EdTech, Education, Knowledge Management',
       'Apps, Beauty, Consumer, Retail',
       'Creative Agency, Crowdfunding, EdTech, Health Care, Internet, Medical, Non Profit, Personal Health',
       'Consumer Lending, Financial Services, FinTech, Insurance, Lending, Mobile Payments, Payments, Wealth Management',
       'E-Learning, Education, Higher Education', 'Health Diagnostics',
       'EdTech, Education', 'Financial Services, SaaS, Security',
       'Banking, Finance, Financial Services, Non Profit',
       'B2B, E-Commerce, Mobile',
       'Automotive, Electric Vehicle, Renewable Energy', 'E-Learning',
       'Embedded Systems, Health Care, Medical, Product Research',
       'Apps, E-Commerce, Internet',
       'Advertising, Human Resources, Marketing',
       'Beauty, Fitness, Home Services, Internet',
       'Health Care, Medical Device, Public Safety',
       'Food Delivery, Online Portals, Restaurants',
       'AgTech, B2B, Supply Chain Management',
       'Credit Cards, Finance, Mobile Apps, Mobile Payments, Payments',
       'EdTech, Education, Higher Education, Secondary Education',
       'Manufacturing, Retail',
       'Information Services, Information Technology, InsurTech',
       'Consumer Lending, FinTech', 'Internet, Social Network, TV',
       'Beauty, Health Care', 'Hospital', 'Events',
       '3D Printing, Manufacturing, Product Design', 'Automotive, Retail',
       'Apps, Audio', 'Automotive, E-Commerce',
       'Digital Entertainment, Fantasy Sports, Sports',
       'E-Learning, EdTech, Education',
       'Funding Platform, Incubators, Non Profit',
       'Hospitality, Hotel, Leisure, Travel',
       'Classifieds, Internet, Marketplace, Rental Property',
       'Banking, E-Learning, Trading Platform',
       'E-Commerce, Mobile, Retail',
       'Artificial Intelligence, Information Technology',
       'Enterprise Resource Planning (ERP), Information Services, Information Technology, Real Estate',
       'Banking, Finance, Financial Services',
       'Audio, Mobile, Tourism, Travel',
       'Energy, Energy Storage, Infrastructure',
       'Government, Information Technology, Software',
       'Education, Information Technology, Internet, Mobile, Software',
       'Consumer Lending, Financial Services, Lending, Personal Finance',
       'Digital Media, Internet, Media and Entertainment, Online Portals, Social Media',
       'Business Intelligence, Customer Service, Market Research, SaaS',
       'Credit, Financial Services, FinTech, Lending',
       'Children, Education, Parenting',
       'Automotive, Battery, Energy, Energy Storage',
       'E-Commerce, Mobile, Sharing Economy',
       'Food Delivery, Organic, Organic Food', 'Mobile', 'Consumer',
       'B2B, Farming, Marketplace', 'Wealth Management',
       'Education, Gaming, Training',
       'Internet, Mobile, Social Entrepreneurship, Telecommunications, Wireless',
       'Health Care, Hospital, Supply Chain Management',
       'Tourism, Travel', 'Hospitality, Real Estate',
       'Digital Media, EBooks, Publishing, Reading Apps',
       'Consumer Electronics, Embedded Systems, Hardware, Smart Building, Software',
       'Food and Beverage, Food Processing',
       'Internet, Marketplace, Shopping',
       'Analytics, Computer Vision, Enterprise Software, Machine Learning, Natural Language Processing, Speech Recognition',
       'Facilities Support Services',
       'Automotive, Electric Vehicle, Energy',
       'Health Care, Health Diagnostics, Predictive Analytics',
       'Cloud Computing, Computer, SaaS, Software',
       'Fashion, Lifestyle, Retail', 'Medical', 'Music Streaming',
       'Finance, Impact Investing, Internet',
       'Internet, Social Entrepreneurship',
       'Finance, Impact Investing, Mobile Apps',
       'Cloud Computing, Computer, Software',
       'Business Development, Market Research, Outsourcing',
       'Health Care, Hospitality', 'Internet, Social News, Sports',
       'Finance, Financial Services, FinTech',
       'Customer Service, Software, Video, Video Streaming',
       'E-Commerce, Food Processing', 'Training',
       'Dietary Supplements, Food and Beverage, Health Care, Organic Food, Snack Food',
       'Manufacturing, Oil and Gas, Robotics',
       'Artificial Intelligence, Computer, Machine Learning',
       'Collaboration, Communities, Coworking, Sharing Economy',
       'Big Data, EdTech, Machine Learning',
       'Analytics, Audio, Digital Media, Innovation Management, Internet Radio, Media and Entertainment',
       'Financial Services, Lending, Peer to Peer',
       'E-Commerce, Furniture, Home Decor, Interior Design, Internet',
       'File Sharing, Personalization, Social Media',
       'Home Decor, Interior Design',
       'Health Care, Medical Device, Mobile Apps',
       'E-Commerce, Facilities Support Services, Procurement, Supply Chain Management',
       'Crowdfunding, Finance, Financial Services',
       'Finance, Financial Services, Insurance',
       'Children, Education, Online Portals', 'Software, Virtual Reality',
       'B2B, Food and Beverage, Food Delivery',
       'Catering, Food and Beverage, Food Delivery, Food Processing',
       'Food and Beverage, Snack Food', 'Automotive, E-Commerce, Mobile',
       'Computer, Digital Marketing, Facilities Support Services, Graphic Design, Internet, Mobile Apps, Social Media Marketing, Web Development',
       'Android, Big Data, Blockchain, Cloud Computing, EdTech, Education, Information Technology, iOS, Training, Web Development',
       'Analytics, CRM, Loyalty Programs, Machine Learning, Marketing Automation, Retail Technology, SaaS, Small and Medium Businesses',
       'Delivery, Information Technology, Mobile Apps',

In [80]:
def sector_redistribution(Sector):
    # Check if the sector is a float or NaN
    if isinstance(Sector, float) and not np.isnan(Sector):
        # Convert float to string
        return str(int(Sector))  # Convert float to integer and then to string
    elif pd.isnull(Sector):
        # Handle NaN values, you can return a default value or handle as needed
        return 'Unknown'
    else:
        # Sector is already a string, return it as is
        return Sector

In [81]:
def Sector_redistribution(Sector):
    if isinstance(Sector, str):
        if re.search(r'bank|fintech|finance|crypto|account|credit|venture|crowd|blockchain', Sector, re.IGNORECASE):
            return 'Finance'
        elif re.search(r'automotive|air transport|transport|logistics|vehicle|transportation', Sector, re.IGNORECASE):
            return 'Transport'
        else:
            return Sector
    else:
        return Sector

In [82]:
# Apply the function to the 'Sector' column
df_combined['Sector'] = df_combined['Sector'].apply(Sector_redistribution)

In [83]:
df_combined['Sector'].fillna('Unknown', inplace=True)

FOUNDERS

In [84]:
df_combined['Founders'].unique()

array(['Prasanna Manogaran, Bharani C L',
       'Saurabh Dixit, Gurudutt Upadhyay', 'Ajinkya Dhariya', ...,
       'Pavan Kushwaha', 'Jeevan Chowdary M, Harshit Harchani',
       'Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mohit Gupta'],
      dtype=object)

In [85]:
# Analyzing the most frequent founders' names
founders_frequency = df_combined['Founders'].value_counts()
founders_frequency.head(20)  # Displaying top 20 most frequent founders' names

Founders
Byju Raveendran                                              7
Ashneer Grover, Shashvat Nakrani                             7
Byju Raveendran, Divya Gokulnath                             6
Falguni Nayar                                                6
Sai Srinivas Kiran G, Shubham Malhotra                       5
Ritesh Agarwal                                               5
Bhavish Aggarwal                                             5
Gaurav Hinduja, Sashank Rishyasringa                         4
Sarvesh Shashi                                               4
Virendra Gupta                                               4
Kunal Shah                                                   4
Ajith Mohan Karimpana                                        4
Saurabh Saxena, Pulkit Jain, Anand Prakash, Vamsi Krishna    4
Sreevathsa Prabhakar                                         4
Utham Gowda                                                  4
Nikhil Bohra                                                 4
Geetansh Bamania                                             4
Ashish Jhina, Karthik Venkateswaran                          4
Nirmit Parikh                                                4
Sahil Sheth                                                  4
Name: count, dtype: int64

In [86]:
# Step 1: Replace anomalies with NaN
def clean_founders(founders):
    if isinstance(founders, str) and re.search(r'^\s*\.+\s*$|^\s*$|unknown|nan', founders, re.IGNORECASE):
        return np.nan
    return founders

df_combined['Founders'] = df_combined['Founders'].apply(clean_founders)

In [87]:
# Check the remaining missing values
missing_founders_count = df_combined['Founders'].isna().sum()
f"Remaining missing values in 'Founders' column: {missing_founders_count}"

"Remaining missing values in 'Founders' column: 712"

In [88]:
# Step 2: Use the most frequent names to fill missing values
most_frequent_founders = [
    "Ashneer Grover, Shashvat Nakrani",
    "Byju Raveendran, Divya Gokulnath",
    "Ritesh Agarwal",
    "Bhavish Aggarwal",
    "Nirmit Parikh",
    "Prabhkiran Singh",
    "Ankur Gupta",
    "Utham Gowda",
    "Kunal Shah",
    "Ashish Singhal, Govind Soni, Vimal Sagar Tiwari",
    "Kshama Fernandes",
    "Saurav Kumar",
    "Saurabh Saxena",
    "Nitish Mittersain",
    "Sankar Bora, Sourjyendu Medda, Vineet Rao",
    "Kajal Ilmi",
    "Sai Srinivas Kiran G, Shubham Malhotra",
    "Aman Gupta, Sameer Mehta",
    "Vineet Khanna, Varun Sadana, Aman Tekriwal",
    "Sahil Barua"
]

In [89]:
# Function to fill missing values
def fill_missing_founders_with_patterns(founders):
    if pd.isna(founders):
        return np.random.choice(most_frequent_founders)
    return founders

df_combined['Founders'] = df_combined['Founders'].apply(fill_missing_founders_with_patterns)

In [90]:
# Step 3: Verify if there are any remaining missing values
remaining_missing_values = df_combined['Founders'].isna().sum()
f"Remaining missing values in 'Founders' column after imputation: {remaining_missing_values}"

"Remaining missing values in 'Founders' column after imputation: 0"

INVESTORS

In [91]:
df_combined['Investor'].unique()

array(['Angel investors', 'GSF Accelerator', 'Venture Center', ...,
       'Norwest Venture Partners, General Catalyst, Fundamentum, Accel Partners',
       'TPG, Norwest Venture Partners, Evolvence India', nan],
      dtype=object)

In [92]:
# Analyzing the most frequent founders' names
Investor_frequency = df_combined['Investor'].value_counts()
Investor_frequency.head(20)  # Displaying top 20 most frequent Investor' names

Investor
Inflection Point Ventures    36
Venture Catalysts            32
Mumbai Angels Network        17
Angel investors              15
Undisclosed                  13
Tiger Global                 12
Titan Capital                11
Unicorn India Ventures       10
Sequoia Capital India         9
Alteria Capital               9
Better Capital                9
Trifecta Capital              8
Y Combinator                  7
Elevation Capital             7
9Unicorns                     7
Kalaari Capital               6
Sixth Sense Ventures          6
Chiratae Ventures             6
Sequoia India                 6
Anicut Angel Fund             6
Name: count, dtype: int64

In [93]:
# Step 1: Clean the 'Investor' column by replacing anomalies and NaN values
def clean_investor(investor):
    if isinstance(investor, str) and re.search(r'^\s*\.+\s*$|^\s*$|unknown|nan', investor, re.IGNORECASE):
        return np.nan
    return investor

df_combined['Investor'] = df_combined['Investor'].apply(clean_investor)

In [94]:
# List of top 20 most frequent investors
top_investors = [
    'Inflection Point Ventures', 'Venture Catalysts', 'Tiger Global', 'Elevation Capital',
    'Titan Capital', 'We Founder Circle', 'Sixth Sense Ventures', 'Sequoia Capital India',
    'Kalaari Capital', 'Anicut Angel Fund', 'Alteria Capital', 'Mumbai Angels Network',
    'SucSEED Indovation Fund', 'Venture Catalysts, 9Unicorns Accelerator Fund', '9Unicorns',
    'Better Capital', 'Unicorn India Ventures', 'Blue Ashva Capital', 'Y Combinator', 'Sequoia Capital'
]

In [95]:
# Function to fill missing values with top 20 most frequent investors
def fill_missing_investors(investor):
    if pd.isna(investor):
        return np.random.choice(top_investors)
    return investor

# Apply the fill_missing_investors function to fill missing values
df_combined['Investor'] = df_combined['Investor'].apply(fill_missing_investors)

STAGE

In [96]:
df_combined['Stage'].unique()

array([None, 'Pre-seed', 'Seed', 'Pre-series A', 'Pre-series', 'Series C',
       'Series A', 'Series B', 'Debt', 'Pre-series C', 'Pre-series B',
       'Series E', 'Bridge', 'Series D', 'Series B2', 'Series F',
       'Pre- series A', 'Edge', 'Series H', 'Pre-Series B', 'Seed A',
       'Series A-1', 'Seed Funding', 'Pre-Seed', 'Seed round',
       'Pre-seed Round', 'Seed Round & Series A', 'Pre Series A',
       'Pre seed Round', 'Angel Round', 'Pre series A1', 'Series E2',
       'Pre series A', 'Seed Round', 'Bridge Round', 'Pre seed round',
       'Pre series B', 'Pre series C', 'Seed Investment', 'Series D1',
       'Mid series', 'Series C, D', 'Seed funding', '$1200000', 'Seed+',
       'Series F2', 'Series A+', 'Series G', 'Series B3', 'PE',
       'Series F1', 'Pre-series A1', '$300000', 'Early seed', '$6000000',
       '$1000000', 'Seies A', 'Series A2', 'Series I', nan,
       'Fresh funding', 'Post series A', 'Seed fund', 'Series B+',
       'Angel', 'Private Equity', 'Venture - Series Unknown', 'Grant',
       'Debt Financing', 'Post-IPO Debt', 'Corporate Round',
       'Undisclosed',
       'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',
       'Secondary Market', 'Post-IPO Equity', 'Non-equity Assistance',
       'Funding Round'], dtype=object)

In [97]:
Stage_unique = {
'Stage': [
        np.nan, 'Series C', 'Fresh funding', 'Series D', 'Pre series A', 'Series A', 'Series G', 'Series B',
        'Post series A', 'Seed funding', 'Seed fund', 'Series E', 'Series F', 'Series B+', 'Seed round',
        'Pre-series A', None, 'Seed', 'Pre-seed', 'Pre-series B', 'Debt', '$1200000', 'Bridge', 'Seed+', 'Series F2',
        'Series A+', 'Series H', 'Series B3', 'PE', 'Series F1', 'Pre-series A1', '$300000', 'Early seed', 'Series D1',
        '$6000000', '$1000000', 'Seies A', 'Pre-series', 'Series A2', 'Series I', 'Angel', 'Pre-Seed', 'Private Equity',
        'Venture - Series Unknown', 'Grant', 'Debt Financing', 'Post-IPO Debt', 'Corporate Round', 'Undisclosed',
        'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',
        'Secondary Market', 'Post-IPO Equity', 'Non-equity Assistance', 'Funding Round'
    ]
}

In [98]:
# List of legitimate stages
legitimate_stages = [
    'Series A', 'Series B', 'Series C', 'Series D', 'Series E', 'Series F', 'Series G', 'Series H', 'Series I',
    'Seed', 'Pre-Seed', 'Seed Funding', 'Early Seed', 'Seed Round', 'Series A+', 'Series B+', 'Series D1',
    'Fresh Funding', 'Bridge', 'Private Equity', 'Debt Financing', 'Venture - Series Unknown'
]

In [99]:
# Function to clean and replace stages
def clean_and_replace_stages(stage):
    if pd.isna(stage) or stage not in legitimate_stages:
        return np.random.choice(legitimate_stages)
    return stage

In [100]:
stage_mapping = {
    'Series A': 'Series A', 'Series A+': 'Series A', 'Series A2': 'Series A', 'Seies A': 'Series A',
    'Series B': 'Series B', 'Series B+': 'Series B', 'Series B3': 'Series B',
    'Series C': 'Series C',
    'Series D': 'Series D', 'Series D1': 'Series D',
    'Series E': 'Series E',
    'Series F': 'Series F', 'Series F1': 'Series F', 'Series F2': 'Series F',
    'Series G': 'Series G',
    'Series H': 'Series H',
    'Series I': 'Series I',
    'Seed': 'Seed', 'Seed funding': 'Seed', 'Seed fund': 'Seed', 'Seed round': 'Seed', 'Early seed': 'Seed', 'Seed+': 'Seed',
    'Pre-seed': 'Pre-seed', 'Pre-Seed': 'Pre-seed',
    'Pre series A': 'Pre-series A', 'Pre-series A': 'Pre-series A', 'Pre-series A1': 'Pre-series A',
    'Pre-series B': 'Pre-series B',
    'Fresh funding': 'Undisclosed', 'Debt': 'Debt', 'Debt Financing': 'Debt', 'Post-IPO Debt': 'Debt',
    'PE': 'Private Equity', 'Private Equity': 'Private Equity', 'Bridge': 'Bridge', 'Grant': 'Grant',
    'Post-IPO Equity': 'Post-IPO Equity', 'Secondary Market': 'Secondary Market',
    'Non-equity Assistance': 'Non-equity Assistance', 'Corporate Round': 'Corporate Round', 'Venture - Series Unknown': 'Venture - Series Unknown',
    'Funding Round': 'Funding Round', 'Undisclosed': 'Undisclosed'
}

In [101]:
# Apply the clean_and_replace_stages function to clean and replace missing values
df_combined['Stage'] = df_combined['Stage'].apply(clean_and_replace_stages)

In [102]:
# Drop the column at index 10

df_combined.drop('column10', axis=1, inplace=True)

In [103]:
duplicate_rows = df_combined[df_combined.duplicated()]
duplicate_rows

,Year,HeadQuarter,Sector,Founders,Investor,Stage,Company_Brand,What_it_does,Amount
145,2015-01-01,Jodhpur,Biotechnology company,Nikhil Bohra,"Rajasthan Venture Capital Fund, AIM Smart City",Seed,Krimanshi,Krimanshi aims to increase rural income by imp...,600000.0
1298,2021-01-01,Bengaluru,Capital Markets,"Manvendra Singh, Gaurav Agarwal",Accel India,Series A,Trinkerr,Trinkerr is India's first social trading platf...,6600000.0
1299,2021-01-01,Gurugram,Social network,"Jasveer Singh, Abhishek Asthana, Deepak Kumar","Vijay Shekhar Sharma, Ritesh Agarwal, Ankiti Bose",Seed,Zorro,Pseudonymous social network platform,32000000.0
1300,2021-01-01,Bengaluru,Transport,"Subramaniam Narayan, Niraj Rajmohan","TVS Motor, Zoho",Series C,Ultraviolette,Create and Inspire the future of sustainable u...,150000000.0
1301,2009-01-01,Hyderabad,Hospital & Health Care,Vikram Vuppala,IIFL Asset Management,Series E,NephroPlus,A vision and passion of redefining healthcare ...,24000000.0
1303,2021-01-01,Bengaluru,Financial Services,"Varun Chaudhary, Amit Kumar","Oasis Capital, Scorpio VC, DeltaHub Capital",Seed,FanAnywhere,Celebrity NFT platform,4000000.0
1305,2021-01-01,Mumbai,Music,"Gaurav Dagaonkar, Meghna Mittal","9Unicorns, Ashneer Grover",Seed,Spry,THE BEST ROYALTY-FREE MUSIC TO CREATE TRENDING...,1500000.0
1310,2020-01-01,Food & Beverages,Hauz Khas,"Vidur Kataria, Sidhanth Madan",WEH Ventures,Seed,MasterChow,A ready-to-cook Asian cuisine brand,461000.0
1311,2009-01-01,Pharmaceuticals,Primary Business is Development and Manufactur...,Morgan Stanley Private Equity Asia,$22000000,Fresh Funding,Fullife Healthcare,Varun Khanna,4000000.0